body{
    
    margin:0;
    background: var(--color-darkblue);
    background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)),
      url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    
}

form {
    background: #1b1b32;
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
    display: block;

}

input {
    display: block;
}

.container {
background-color: aqua;
padding: 2.5rem 0.625rem;
border-radius: 0.25rem;
max-width:540px ;
box-sizing: border-box;
margin:3.125rem auto 0.25rem auto;
}


